:root {
  --branding-color: #6c63ff;
  --second-color: #f9f7fe;
  --headind-font-family: "Lora", serif;
  --secondary-font-color: #272142;
}

body {
  font-family: var(--headind-font-family);
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: var(--secondary-font-color);
}
nav a:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
nav i {
  font-size: 45px;
  max-height: 50px;
  color: var(--secondary-font-color);
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav li.active a {
  color: var(--branding-color);
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 118px;
  letter-spacing: 0em;
  text-align: center;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 26px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--second-color);
  text-align: center;
  padding: 160px 10px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-font-color);
}
.hero h2 {
  line-height: 2;
  font-size: 24px;
  color: var(--secondary-font-color);
}
.btn {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  background: white;
  border: 1px solid var(--branding-color);
}
.project-discription {
  padding: 60px 60px;
}
img {
  width: 560px;
  height: 560px;
  left: 67px;
  top: 1136px;
}

.about-section h1,
h2,
p,
a {
  font-family: var(--headind-font-family);
  text-align: center;
}
.about-section h1 {
  font-size: 48px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 25px;
  line-height: 30px;
}

.about-section img {
  width: 380px;
  height: 500px;
}

.work-section h3 {
  margin-top: 20px;
}
.work-section p {
  text-align: center;
}
footer {
  margin: 35px;
}
footer .contact-box {
  background-color: var(--second-color);
  padding: 35px 120px;

  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: var(--secondary-font-color);
  font-size: 24px;
  text-align: center;
  margin: 40px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  font-size: 30px;
  background-color: var(--second-color);
  margin: 10px 30px;
  padding: 12px 17px;
  border-radius: 50px;
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 800px) {
  nav i {
    font-size: 20px;
  }
  nav li {
    font-size: small;
  }
  .hero {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  p.text-center.m-5 {
    font-size: 12px;
  }
  h1 {
    font-size: 38px;
    line-height: 60px;
    margin-top: 20px;
  }
  h2 {
    font-size: 18px;
    margin: 20px;
  }
  footer .contact-box {
    padding: 20px;
  }
  .project-discription {
    padding: 0;
    text-align: center;
  }
  .about-section h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .about-section h2 {
    font-size: 23px;
  }
  .about-section img {
    width: 190px;
    height: 250px;
  }
}
