:root {
  --branding-color: #6c63ff;
  --headind-font-family: "Lora", serif;
  --secondary-font-color: #272142;
}

body {
  font-family: var(--headind-font-family);
}
h1 {
  font-size: 76px;
  font-weight: 700;
  line-height: 128px;
  letter-spacing: 0em;
  text-align: center;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 160px 10px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-font-color);
}
.hero h2 {
  line-height: 2;
  font-size: 24px;
  color: var(--secondary-font-color);
}
.btn {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  background: white;
  border: 1px solid var(--branding-color);
}
.project-discription {
  padding: 60px 60px;
}
img {
  width: 560px;
  height: 560px;
  left: 67px;
  top: 1136px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 80px;
    margin-top: 30px;
  }
  h2 {
    font-size: 42px;
    margin-top: 15px;
  }
  .project-discription {
    padding: 0;
    text-align: center;
  }
}
.about-section h1,
h2,
p,
a {
  font-family: var(--headind-font-family);
  text-align: center;
}
.about-section h1 {
  font-size: 48px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 25px;
  line-height: 30px;
}

.about-section img {
  width: 380px;
  height: 500px;
}
.work-section h1 {
  font-size: 20px;
}
.work-section h3 {
  margin-top: 20px;
}
.work-section p {
  text-align: center;
}
